table{
	border: 1px solid grey;
	border-collapse: collapse;
}
.focus{
	 cursor: pointer;
	 background: red;
}
form{
	border:3px solid red;
	width: 55%;
	top:0px;

}
input{
	padding: 10px;
	margin: 20px auto;
	display:block;
	border-radius: 5px;
}
